
# Ignore environment variables
.env

# Ignore Firebase config and keystore files
src/services/firebaseConfig.ts
*.keystore
android/app/*.jks

# Ignore Google Services config
#google-services.json

# Node modules
node_modules/
# Metro bundler cache
.metro-cache/
# Android build outputs
android/build/
android/app/build/
android/.gradle/
android/app/.cxx/
# Log files
*.log

# Ignore local debug keystore
android/app/debug.keystore
